@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Devanagari:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Capriola&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Devanagari:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Capriola&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Devanagari:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap");
@import "tailwindcss";

/* Layered css imports  */
@layer base {
  @import "./css/base.css";
}
@layer components {
  @import "./css/component.css";
}
@import "./css/utilities.css";

@theme {
  /* colors */
  --color-bg: #fff9f9;
  --color-accent-primary: #14563a;
  --color-accent-secondary: #09cd7a;
  --color-btn-hover: #1a643e;
  --color-textColor-primary: black;
  --color-textColor-secondary: gray;

  /* margins and paddings  */
  --spacing-xAxis-sm: 10px;
  --spacing-xAxis-md: 30px;
  --spacing-xAxis-lg: 50px;

  --spacing-yAxis-sm: 50px;
  --spacing-yAxis-lg: 70px;

  /* font families  */
  --font-heading: "Capriola", sans-serif;
  --font-body: "Roboto", sans-serif;
  --font-nav: "Poppins", sans-serif;

  /* font size  */
  --text-body: 18px;
  --text-body-sm: 14px;

  /* breakpoints  */
  --breakpoint-xs: 300px; /* Extra small mobile */
  --breakpoint-sm: 550px;

  /* box shadow  */
  --shadow-subtle: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.04);
  --shadow-float: 0 4px 12px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.progress-circle {
  position: relative;
  width: 150px;
  height: 150px;
}

.progress-circle svg {
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}

.progress-circle circle {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
}

.bg {
  stroke: #333;
}

.progress {
  stroke: #00ff88;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  transition: stroke-dashoffset 0.4s ease;
}

.percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}
